<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <img src="/images/team/500.png" class="mw-100 mh-100">
    </div>
    <div class="col-4">
      <img src="/images/team/plugandplay.png" class="mw-100 mh-100">
    </div>
    <div class="col-4">
      <img src="/images/team/nxtplabs.png" class="mw-100 mh-100">
    </div>
  </div>
</div>

<div class="container mb-6">
  <h2>Nuestra historia</h2>
  <p>
    Comenzamos nuestra carrera profesional con una boutique de software a la medida llamada Intic Labs, en donde pudimos construir muchos <a href="/portfolio">proyectos</a> interesantes.
  </p>
  <p>
    Después decidimos emprender con varios proyectos Fintech propios: desde una API para automatizar pagos SPEI, APIs white label de open banking y un BNPL (Buy Now Pay Later) para México. Fuimos acelerados y recibimos inversión de los mejores fondos de capital de riesgo.
  </p>
  <p>
    A través de este camino, nos dimos cuenta de que es muy fácil caer en la tentación de hacer un producto perfecto, pero que no resuelve un problema real. Nos dimos cuenta de que la mejor manera de construir productos es a través de la experimentación y la iteración constante, empezando con un <a href="/services/mvp">MVP</a> validándolo y mejorándolo. Por esto, decidimos convertirnos en una fábrica de MVPs.
  </p>
  <p>Seamos Kuates y ganemos juntos. {{ partial "contact_link" . }}</p>
</div>
